<!DOCTYPE HTML>
<html>
<head>

    <title>스프링 부트 웹 서비스</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>

</head>
<body>
    <h2>p131 기본 페이지 만들기 main/resources/templates/index.mustache</h2>
    <h1>스프링 부트로 시작하는 웹 서비스</h1>
</body>
</html>
