{{>layout/header}}
<h2>기본 페이지 만들기 main/resources/templates/index.mustache Ver.1 p131</h2>
<h4>머스테치 파일의 위치는 기본적으로 main/resources/templates 이다. 이 곳에 mustache 파일들을 두면 스프링 부트에서 자동으로 로딩한다. p131</h4>
<h1>스프링 부트로 시작하는 웹 서비스 Ver.2 p137</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a href="/posts/save" role="button" class="btn btn-primary">글 등록, 로그인 테스트 p189</a>
            {{#userName}}
                Logged in as: <span id="user">{{userName}}</span>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            {{/userName}}
            {{^userName}}
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                login/oauth2/code/google
                <!-- a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a -->
            {{/userName}}
        </div>
    </div>
    <br>
    <!-- 목록 출력 영역 p145 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>게시글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>최종수정일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#posts}}
            <!-- posts 라는 List 를 순회한다. java 의 for 문장과 동일 -->
            <tr>
                <td>{{id}}</td> <!-- List 에서 뽑아낸 객체의 필드를 사용한다 -->
                <td><a href="/posts/update/{{id}}">{{title}}</a></td> <!-- p155 전체 목록에서 해당 posts 의 수정페이지로 이동할 수 있게 한다-->
                <td>{{author}}</td>
                <td>{{modifiedDate}}</td>
            </tr>
        {{/posts}}
        </tbody>
    </table>
</div>
{{>layout/footer}}